/* User Home Configuration */
#user-home-tab {
  width: 80%;
  margin: 0 auto;
}

#user-home-div{
  margin-top: 3%;
  float:right;
  width: 80%;
  text-align: center;
}

#login-form {
  margin: auto;
  width: 50%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#sidebar {
  width:20%;
  float:left;
  margin-top: 3%;
}
