/* User Home Configuration */
#user-home-tab {
  width: 80%;
  margin: 0 auto;
}

#user-home-div{
  margin: 3% 4% 0 0;
  float:right;
  width: 75%;
  text-align: center;
}

#login-form {
  margin: auto;
  width: 50%;
}

#members-list h2{
  font-size: 1.4em;
  background: #C7C9C3;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

#members-list {
  float:right;
  width: 20%;
  height: 30%;
  border-radius: 4%;
  border: 1px solid black;
  text-overflow: clip;
}

#individual-page {
  float:right;
  width: 80%;
}

#header {
  background: #9DA9A0;
  padding-top: 3em;
  padding-bottom:1em;
}

#event-header {
  text-align: center;
}

#body {
  padding: 1em 1em 1em 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#sidebar {
  width:20%;
  float:left;
  position:relative;
  padding-top: 3%;
  padding-bottom: 100%;
  padding-left: 1%;
  background: #3D5A80;
}

#calendar-div-container {
  height: 400px;
  margin-right: 20px;
}

#browse-event-card-container {
  width: 90%;
  text-align:left;
}

#event-div {
  width: 80%;
  float: right;
}

#event-image {
  margin: 2em auto;
}

#task-table-width {
  width:78%;
}
