/* User Home Configuration */
#user-home-tab {
  width: 80%;
  margin: 0 auto;
}

#user-home-div{
  margin: 3% 4% 0 0;
  float:right;
  width: 75%;
  text-align: center;
}

#login-form {
  float: left;
  margin-left: 2em;
  width: 50%;
}

#individual-page {
  float:right;
  width: 80%;
}

#body {
  padding: 1em 1em 1em 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#sidebar {
  width:20%;
  float:left;
  position:relative;
  padding-top: 3%;
  padding-bottom: 100%;
  padding-left: 1%;
  background: #3D5A80;
}

#calendar-div-container {
  height: 400px;
  margin-right: 20px;
}

#browse-event-card-container {
  width: 90%;
  text-align:left;
}

#task-table-width {
  width:78%;
}

#event-div {
  width: 80%;
  float: right;
}

#logo-font{
  font-family: 'Permanent Marker', cursive;
}

#browse-header {
  padding-bottom: .8em;
  border-bottom: 1px solid rgba(34,36,38,.15);
  margin-bottom: 1em
}
